<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php5640\php-cgi.exe" resourceType="File" />
            <add name="HTML PHP" path="*.html" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php5640\php-cgi.exe" resourceType="File" />
        </handlers>
        <rewrite>
            <outboundRules>
                <rule name="Server Info Remove">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" value="none" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
